.sidebar{
    flex: 1; 
    border-right: 0.5px solid gray; 
    min-height: 100vh;
    .top{
        height: 50px; 
        display: flex; 
        align-items: center; 
        justify-content: center; 

        .logo{ 
           
          
            font-size: 15px; 
            font-weight: bold; 
            color: rgb(20, 15, 59); 
            display: flex; 
            align-items: center; 
          
        }
    }
    hr{
        border-bottom: 0.5px solid gray;
    } 
    .nav-list{
        padding-left: 10px; 

        ul{
            list-style: none; 
            margin: 0; 
            padding: 0;
        } 
        li{
            margin-top: 20px; 
            display: flex; 
            align-items: center; 
            font-size: 20px;
            padding: 5px; 
            a{
                text-decoration: none;
            }
           
            
            cursor: pointer; 
            .icons{ 
                margin: 2px;
                color: rgb(30, 14, 87); 
                size: 35px;

            } 
            span{
                font-weight: bold; 
              
                margin-left: 10px;
            }
            
            &:hover{
                padding-top: 5px; 
                border-bottom: 5px solid rgb(128, 41, 0); 
               
               
            } 


            
            
        } 

    } 
    
}