.booking-container{
    display: flex; 
    width: 100%;
}
.booking-form{ 
    flex: 6;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    
    h1{ 
        justify-self: flex-start;
        text-align: center;  
     }    
    
    
    
    form{  
        label{
            font-size: 24px; 
            font-weight: bold;
        }
         
        input{
            width: 370px; 
            height: 60px; 
            
            margin-bottom: 12px;  
        } 
        .checkbox-service{ 
            margin: 12px;
        .checkbox{
            width: 23px; 
            height: 23px; 
            margin-right: 12px;
        } 
    }
    }
}