.patient-container{
    width: 100%; 
    display: flex;
}
.patient-form{ 
    flex: 6;
    display: flex; 
    align-items: center;
   
    flex-direction: column; 
    h1{
        text-align: center;  
        margin: 12px;
        
    } 
    form{ 
        label{
            font-size: 24px; 
            font-weight: bold;
        }
        input{ 
        width: 470px; 
        height: 60px; 
        
        margin-bottom: 12px; 
        } 
        .btn{ 
            width: 280px; 
            height: 60px;
            margin: 34px;
        } 
       
    }
} 
